<a style="text-decoration:none; display:block; height: 170px; overflow:hidden;" href="{{newsletter.website_url}}">
	<img src="{{element.preview}}" alt="{{element.title}}" width="100%" border="0" style="display:block; height:auto;">
</a>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff" style="margin:0; border-radius:0 0 8px 8px; vertical-align:middle;">
	<tr>
		<td align="left" valign="middle" width="65%" style="padding:8px 0 8px 8px;">
			<span style="display:inline-block; padding:7px 4%; vertical-align:middle; border-radius:3px; font-size:12px; font-weight:bold; background-color:#ffffff; border:1px solid #d0021b; color: #d0021b;">
				{{element.channel_name}}
			</span>
		</td>
		<td align="right" valign="middle" width="35%" style="padding:8px 8px 8px 0;">
			<span style="display:inline-block; padding:7px 7%; vertical-align:middle; border-radius:3px; font-size:12px; font-weight:bold; background-color:#747b87; border:1px solid #747b87; color:#ffffff;">
				{{element.published}}
			</span>
		</td>
	</tr>
</table>